*{
  font-family: 'Comfortaa', cursive;
}
App {
  text-align: center;
}
/* Hamburger Menu */
.hamburgerMenu {
  width: 90vw;
  height: 100vh;
  padding-top: 10%;
  margin-top:0;
  background-color: #d6a2cd;
  position: fixed;
  top: 0px;
  right: 0px;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  transform: translate3d(100vh, 0, 0);
}
#clickedmenu {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.hamburgerMenu li {
  list-style-type: none;
  padding: 20px;
  color: black;
  list-style-type: none;
}
.hamburgerMenu li:hover {
  list-style-type: none;
  padding: 20px;
  color: white;
}
/* stylized hamburger Menu icon */
#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  /* top: -7px; */
  /* left: -5px; */
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 50000; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 5000000;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Transform into X */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: #232323; */
}

/* Hide middle - */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Flip the other - the other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}


/* Home page */
.icon{
  float:left;
  height: 15vh;
 /* position:absolute; */

}
.head{
  width:100%;
  padding-bottom:20vh;
  }

.page{
  display:flex;
  flex-direction: column;
  margin:4%;
  
}
.body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 25%, */
}
.musicbox{
  display:flex;
  justify-content: space-between;
}
.musicbuttons{
  height: 15vh;
  width:auto;
}
.glass{
  padding-top: 3%;
  height: 15vh;
  width:auto;
}
.invisible{
display:none;
}
.clickedglass{
display:inline;
}
.starrypicture{
  height: 15vh;
  position: relative;
}
.qrbox{
  display:flex;
  flex-direction:row;
}
.artwork{
  height: auto;
width: 80%;
}
.artpage{
  display: flex;
  flex-direction: column;
  margin: 4%;
 
}

.date{
  font-style: italic;
}
.artbox{
  display:flex;
  /* width:100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:15%;
  text-align: center;
}
/* Music Component */
.musicbox{
  display:flex;
  justify-content: space-between;
}
.musicbuttons{
  height: 15vh;
  width:auto;
  margin-right: 3%;
}
.carouselitem{
  height: 55vh;
  width: 55vh;
  margin:auto;
}
.carousel{
  padding-top: 3%;
  width: 300px;
  height: 350px;
}
/* for iPhhone distortion */
@media (max-width: 500px){
  .carouselitem{
    height: 40vh;
    width: 40vh;
    margin:auto;
  }
}
@media (min-height: 700px){

  .carouselitem{
    height: 20vh;
    width: 20vh;
    margin:auto;
  }
}
  @media (min-height: 800px){
    .carousel{
      padding-top: 3%;
      width: 100%;
      height: auto;
    }
    .carouselitem{
      height: 25vh;
    width: 25h;
    margin:auto;
    }
  }
  @media (min-height: 2000px){
    .carousel{
      padding-top: 3%;
      width: 100%;
      height: auto;
    }
    .carouselitem{
      height: 25vh;
    width: 25vh;
    margin:auto;
    }
  }
  @media (min-width: 1000px){
    .carousel{
      padding-top: 3%;
      width: 100%;
      height: 50%;
    }
    .carouselitem{
      height: 20vh;
    width: 20vh;
    margin:auto;
    }
  }
  @media (min-width: 2000px){
    .carousel{
      padding-top: 3%;
      width: 100%;
      height: 50%;
    }
    .carouselitem{
      height: 25vh;
    width: 25vh;
    margin:auto;
    }
  }
/* Get Started */
.start{
  border: 3px solid black;
  padding: 5%;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#appintro{
  text-align: center;
}
.glass2{
height: 5vh;
width: auto;
}
.starrypicture2{
  height: 5vh;
  width: auto;
  }
/* Keep Exploring */
.arrow{
  padding-top: 2%;
  padding-left:2%;
  width: 5vw;
  height:auto;
}
.explore{
  display: flex;
  color: #d6a2cd;
  justify-content: center;
  align-items: center;;
}

/* Media Desktop */
@media (min-width: 800px){
  .icon{
    float:left;
    height: 25vh;
   position:absolute;
  }
  .hamburgerMenu {
    width: 25vw;
    height: 150vh;
    padding-top: 3%;
    margin-top:0;
    background-color: #d6a2cd;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    overflow: scroll;
    /* z-index: 1000; */
    transform: translate3d(100vh, 0, 0);
  }
  #clickedmenu {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
  .x {
    float: right;
    padding-top: 5%;
   padding-right: 10%;
    height: 3vh;
    width: 1vw;
  }
  .x:hover {
    color: white;
  }
  .hamburgerMenu li {
    list-style-type: none;
    padding: 20px;
    color: black;
    list-style-type: none;
  }
  .hamburgerMenu li:hover {
    list-style-type: none;
    padding: 20px;
    color: white;
  }

/* stylized hamburger Menu icon */
#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 50000; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 5000000;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Transform into X */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: #232323; */
}

/* Hide middle - */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Flip the other - the other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
}
